{# base.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <title>Movies List</title>
      <style>.h-100{height:100%}.card-horizontal {
    display: flex;
    flex: 1 1 auto; }
    body {
      
	position: relative;
	background: radial-gradient(ellipse at bottom, hsla(205, 20%, 45%, 1) 0%, hsl(205, 20%, 13%) 100%);
	background-attachment: fixed;
	color: hsla(205, 20%, 95%, 1);
}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="{{ path('app_home_show') }}">Movies List</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      {% if name == '' %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_auth_show') }}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_auth_login_show') }}">Login</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_auth_perso_show') }}">Hello {{name}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_movie_show') }}">Create a new list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_movie_view') }}">View my lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_auth_logout') }}">Logout</a>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{{ path('app_home_show_result') }}" method="post">
      <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search your movie" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Find movies</button>
    </form>
  </div>
</nav>
    {% block body %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
    function addToList(adr,mess){
      if (window.XMLHttpRequest) { // Mozilla, Safari, IE7+...
    httpRequest = new XMLHttpRequest();
}
else if (window.ActiveXObject) { // IE 6 et antérieurs
    httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
}
var message=mess
httpRequest.onreadystatechange = function(result){
      if (httpRequest.readyState === XMLHttpRequest.DONE) {
        alert(message);
}
      
    };
    httpRequest.open('GET', adr, true);
httpRequest.send();
}
</script>
</body>
</html>